<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dw_test_task>
            <general>
                <enable>1</enable>
                <decimal_factor>10</decimal_factor>
            </general>
        </dw_test_task>
    </default>
</config>
